.env
.env.*
*.vsix
emails.txt
refresh-tokens*.txt
*.tsbuildinfo
src/**
out/**/*.map
out/webview-types/**
.vscode-test/**
node_modules/**
.npm-cache/**
.vscode/**
tools/**
.github/**
esbuild.webview.mjs
tsconfig*.json
.gitignore
.eslintrc*
